.contractRequest {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}
.contractRequest h2, .contractRequest h3, .contractRequest label{
    color: #fdc52c;
    font-style: italic;
    font-size: 24px;
    font-weight: 400;
}
.contractRequest h3{
    font-size: 20px;
}
.form-group {
    margin-bottom: 15px;
}

.contractRequest label {
    display: block;
    font-size: 16px;
}

input[type="date"],
input[type="text"] {
    width: 100px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contractRequest .btnSubmit {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    background: none;
    border: 2px solid #fdc52c;
    color: #fdc52c;
    text-transform: uppercase;
    font-style: italic;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.contractList li{
    color: #FFF;
}