.container {
    border: 2px solid #fdc52c;
    color: #fdc52c;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    display: flex;
    font-weight: bold;
    border-bottom: 2px solid #fdc52c;
}

.header div {
    flex: 1;
    padding: 10px;
    border: #fdc52c 2px solid;
    text-align: center;
}

.body {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-between;
    border: 1px solid #fdc52c;
}
.row div{
    width: 50%;
    border: 1px solid #fdc52c;
    padding: 10px;
}
.row:last-child {
    border-bottom: none;
}